<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title Page</title>
     <!-- Link to leaflet CSS and javascript for maps-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
</head>
<body>
 <!-- Create a map div -->
 <h1>A demo map with leaflet</h1>
<div id="map" style="height: 1000px; width: 1500px;"></div>
<script>
let map = L.map('map').setView([52.7, 1.5], 9)
var wmsLayer = L.tileLayer.wms('https://www.gebco.net/data_and_products/gebco_web_services/2019/mapserv?', {
    layers: 'GEBCO_2019_Grid'}).addTo(map);


</script>

</body>
</html>


var wmsLayer = L.tileLayer.wms('http://ows.mundialis.de/services/service?', {
layers: 'TOPO-OSM-WMS'}).addTo(map);

https://www.gebco.net/data_and_products/gebco_web_services/2019/mapserv?
L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', { attribution: 'OSM' }).addTo(map)
